{{!-- Navigation Start  --}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{{!-- <i id="navTopIcon" class="navIcon fas fa-chevron-up"></i> --}}
<i id="navRightIcon" class="navIcon fas fa-home"></i>
{{!-- <i id="navBottomIcon" class="navIcon fas fa-chevron-down"></i> --}}
<i id="navLeftIcon" class="navIcon fas fa-undo"></i>
{{!-- Navigation End --}}

<p class="headers">Grocery Bundles:</p>
<ul>
  {{#each groceryBundle}}
    {{#if this.selected}}
        <li class="selected">{{this.name}}: {{this.contents}}</li>
    {{else}}
        <li>{{this.name}}: {{this.contents}}</li>
    {{/if}}
  {{/each}}
</ul>
